.openform {
	height:100%;
	position:relative;
}

.openform div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
    margin: 0; 
    padding: 0;
}

.openform img {
	border:none;
}

.openform textarea {
	overflow:auto;
}

.openform #openform-navigation {
	position:absolute;
	z-index:100;
	font-size:120%;
	color:#dddddd;
	border-style:solid;
	border-width:1px;
	border-color:#aaaaaa;
	border-radius:10px;
	box-shadow:2px 2px 5px #aaaaaa;
	background-color:#333333;
}
	.openform #openform-navigation hr.style-six {
	    border: 0;
	    height: 1px;
	    background-image: -webkit-linear-gradient(left, #333333, #555555, #333333);
	    background-image:    -moz-linear-gradient(left, #333333, #555555, #333333);
	    background-image:     -ms-linear-gradient(left, #333333, #555555, #333333);
	    background-image:      -o-linear-gradient(left, #333333, #555555, #333333);
	}
	.openform #openform-navigation.over {
	}
	.openform #openform-navigation ul {
		padding:0px 5px;
	}
	.openform #openform-navigation li {
		list-style-type:none;
		height:30px;
		line-height:30px;
		white-space:pre;
		word-break:keep-all;
		margin:10px;
		padding:0px 10px;
		cursor:pointer;
	}
	.openform #openform-navigation li:hover {
		background-color:#555555;
		border-radius:5px;
	}
	.openform #openform-navigation li.movepage {
	}
	.openform #openform-navigation li.disabled {
		color:#666666;
	}

.openform .loading {
	position:absolute;
	z-index:100;
	background-image:url(loading.gif);
	background-position:center center;
	background-repeat:no-repeat;
}

.openform .page {
	border-style:solid;
	border-color:#666666;
	border-width:1px;
	box-shadow:5px 5px 5px #aaaaaa;
	position:relative;
	margin-bottom:20px;
}

.openform .list {
	margin: 0; 
	padding: 0;
	outline: 0;
	border: none;
}

.openform .control {
	position:absolute;
	margin: 0; 
	padding: 0;
	outline: 0;
	border: none;
	border-radius: 0;
}

.openform .control[readonly] {
	background-color:#efefef;
}

.openform .control[required] {
	background-color:#ffcccc;
	box-shadow:none;
}

.openform .highlight {
	outline: medium none !important;
	box-shadow: 0 0 2px #609CD7;
	-webkit-box-shadow: 0 0 2px #609CD7;
	-moz-box-shadow: 0 0 2px #609CD7;
	-ms-box-shadow: 0 0 2px #609CD7;
	-o-box-shadow: 0 0 2px #609CD7;
}

.openform .tooltip {
	color:#ffffff;
	padding:10px;
	display:none;
	border-radius:5px;
	border-color:#ffffff;
	border-width:2px;
	border-style:solid;
	box-shadow:5px 5px 5px #aaaaaa;
	opacity:0.9;
	filter:alpha( opacity=90 );
	z-index:100;
	white-space:pre;
	background-color:#333333;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000');
	background:
				-moz-linear-gradient(
					top,
					#333333 0%,
					#333333 20%,
					#000000 100%);
	background:
				-webkit-gradient(
					linear,
					center top, center bottom,
					from(#333333),
					color-stop(20%, #333333),
					color-stop(100%, #000000));
}
	.openform .tooltip .caption {
		color:#ffffff;
		font-size:120%;
	}
	.openform .tooltip .required {
		border-radius:2px;
		color:#fee;
		font-size:80%;
		background-color:#d00;
		padding:3px 5px;
		margin-left:5px;
	}
	.openform .tooltip .readonly {
		border-radius:2px;
		color:#dddddd;
		font-size:80%;
		background-color:#666666;
		padding:3px 5px;
		margin-left:5px;
	}
	.openform .tooltip .separate {
		margin:10px 0px;
	}
		.openform .tooltip .menu
		{
		    margin: 2px;
		    text-decoration: none;
		    display: inline-block;
		    text-align: center;
		    color: #fff;
		
		    border: 1px solid #9c9c9c; /* Fallback style */
		    border: 1px solid rgba(0, 0, 0, 0.3);            
		
		    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
		
		    box-shadow: 0 0 .05em rgba(0,0,0,0.4);
		    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
		    -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
		}
		.openform .tooltip .menu, .menu span {
		    -moz-border-radius: .3em;
		    border-radius: .3em;
		}
		.openform .tooltip .menu span {
		    border-top: 1px solid #fff; /* Fallback style */
		    border-top: 1px solid rgba(255, 255, 255, 0.5);
		    display: block;
		    padding: 5px;
		
		    /* The background pattern */
		
		    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
		                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(0, 0, 0, 0.05)), color-stop(.25, transparent), to(transparent)),
		                      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05))),
		                      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, rgba(0, 0, 0, 0.05)));
		    background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
		                      -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent),
		                      -moz-linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%),
		                      -moz-linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.05) 75%);
		
		    /* Pattern settings */
		
		    -moz-background-size: 3px 3px;
		    -webkit-background-size: 3px 3px;
		    background-size: 3px 3px;
		}
		.openform .tooltip .menu:hover {
		    box-shadow: 0 0 .1em rgba(0,0,0,0.4);
		    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
		    -webkit-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
		}
		.openform .tooltip .menu:active {
		    /* When pressed, move it down 1px */
		    position: relative;
		    top: 1px;
		}
		.openform .tooltip .menu-black {
		    background: #141414;
		    background: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#141414) );
		    background: -moz-linear-gradient(-90deg, #656565, #141414);
		    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#656565', endColorstr='#141414');
		}
		
		.openform .tooltip .menu-black:hover {
		    background: #656565;
		    background: -webkit-gradient(linear, left top, left bottom, from(#141414), to(#656565) );
		    background: -moz-linear-gradient(-90deg, #141414, #656565);
		    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#141414', endColorstr='#656565');
		}
		
		.openform .tooltip .menu-black:active {
		    background: #656565;
		}